/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (min-width: 1281px) {
  .previous_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -25px; 
    left: 46% !important;
  }
  .next_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -25px; 
    left: 42%;
  }
  .searchbar{
    width: 50% !important;
  }
  .search_icon{
    margin-top: -47px;
      height: 55px;
      width: 30%;
      float: right;
      display: flex;
      justify-content: center;
      border-radius: 27.5px;
      color: white;
      background-color: rgb(0,47,108);
      font-size: 20px;
      font-family: GothamRounded-Bold;
      padding-top: 16px;
      margin-right: -5px;
  }
  .d_d_n{
      margin-top: 70px; 
    }
  .check_what{
    max-width: 1140px !important;
  }
  .header_area .navbar .nav .nav-item{
        margin-right: 0px !important;
        padding: 10px !important;
      }
      header{
        background: #fff;
        position: fixed;
        width: 100% !important;
        height: 145px;

      }
      nav{
        height: 145px;
      }
      .navbar_fixed{
        position: inherit !important;
        z-index: 1;
      }
      .header_area.navbar_fixed .main_menu{
        position: inherit !important;
      }
      .section_gap{
        padding: 0px !important;
        min-height: 80px !important;
        background-color: rgb(0,144,206) !important;
      }
      .copy_right{
        padding-top: 34px; color: #fff;
        font-size: 16px;
        font-family: Gotham-Rounded-Medium;
      }
      .naviga{
        background: #fff;
      }

      #navbar_h_auto{
        height: auto !important;
      }
      .five_div{
        height: 460px; 
        width: 17% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }
      .header_area .navbar .nav .nav-item .nav-link{
        font-size: 1vw !important;
      }
      .header_area .navbar .nav .nav-item{
        margin-right: 5px !important;
      }

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .previous_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -25px; 
    left: 46% !important;
  }
  .next_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -25px; 
    left: 42%;
  }

  .colspan{
    display: none !important;
  }
  .searchbar{
    width: 50% !important;
  }
  .search_icon{
    margin-top: -47px;
      height: 55px;
      width: 30%;
      float: right;
      display: flex;
      justify-content: center;
      border-radius: 27.5px;
      color: white;
      background-color: rgb(0,47,108);
      font-size: 20px;
      font-family: GothamRounded-Bold;
      padding-top: 16px;
      margin-right: -5px;
  }
  .d_d_n{
      margin-top: 85px; 
    }
  .header_area .navbar{
    background: #fff;
  }
  .section_gap{
        padding: 15px 0;
  }
  .copy_right{
    color: #fff !important;
  }
  
  .logo_h{
        width: 150px; 
      } 
    .nav-link{
      font-size: 1vw;
    } 
    .header_area .navbar .nav .nav-item{
          margin-right: 15px !important;
    }

    .five_div{
        margin-bottom: 10px;
        height: 460px; 
        width: 25% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }
    .header_area .navbar .nav .nav-item .nav-link{
        font-size: 1vw !important;
      }
      .header_area .navbar .nav .nav-item{
        margin-right: 5px !important;
      }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .previous_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -11px; 
    left: 46% !important;
  }
  .next_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -35px; 
    left: 42%;
  }

  .searchbar{
    width: 80% !important;
  }
  .search_icon{
    margin-top: -47px;
      height: 55px;
      width: 40%;
      float: right;
      display: flex;
      justify-content: center;
      border-radius: 27.5px;
      color: white;
      background-color: rgb(0,47,108);
      font-size: 20px;
      font-family: GothamRounded-Bold;
      padding-top: 16px;
      margin-right: -5px;
  }
  .copy_right{
    color: #fff !important;
  }
  .header_area .navbar .nav .nav-item{
    margin-right: 10px !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    font-size: 1vw !important;
  }
  .section_gap{
         padding: 15px 0; 
  }
  .header_area .navbar{
      background: #fff !important;
      padding-top: 30px;
    }
  .five_div{
        margin-bottom: 10px;
        height: 460px; 
        width: 25% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }
      .header_area .navbar .nav .nav-item .nav-link{
        font-size: 1vw !important;
      }
      .header_area .navbar .nav .nav-item{
        margin-right: 5px !important;
      }

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .d_d_n{
      margin-top: 5px; 
    }
    .naviga{
        padding: 0px 10px !important;
      }
    .five_div{
        margin-bottom: 10px;
        height: 460px; 
        width: 25% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .previous_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -11px; 
    left: 46% !important;
  }
  .next_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -35px; 
    left: 42%;
  }

  .copy_right{
    padding-top: 30px;
    color: #fff;
    padding-bottom: 20px;
  }
  .footer-area{
    padding: 0px 0px;
  }
  .searchbar{
    width: 90% !important;
  }
  .search_icon{
    margin-top: -47px;
      height: 55px;
      width: 40%;
      float: right;
      display: flex;
      justify-content: center;
      border-radius: 27.5px;
      color: white;
      background-color: rgb(0,47,108);
      font-size: 20px;
      font-family: GothamRounded-Bold;
      padding-top: 16px;
      margin-right: -5px;
  }

    .d_d_n{
      margin-top: 5px; 
    }
    .naviga{
        padding: 0px 10px !important;
      }
      .single_feature_1{
        margin-top: -60px !important;
      }
    .five_div{
        margin-bottom: 10px;
        height: 460px; 
        width: 40.3333% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .previous_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -11px; 
    left: 46% !important;
  }
  .next_s{
    bottom: 0 !important; 
    margin-top: 46px; 
    margin-left: -35px; 
    left: 42%;
  }
  
  .copy_right{
    padding-top: 30px;
    color: #fff;
    padding-bottom: 20px;
  }
  .footer-area{
    padding: 0px 0px;
  }
  .searchbar{
    color: #000 !important;
    width: 100% !important;
  }
  .search_icon{
    /*color: #000 !important;*/
    margin-top: -47px;
      height: 55px;
      width: 50%;
      float: right;
      display: flex;
      justify-content: center;
      border-radius: 27.5px;
      color: white;
      background-color: rgb(0,47,108);
      font-size: 20px;
      font-family: GothamRounded-Bold;
      padding-top: 16px;
      margin-right: -5px;
  }
    .sliders{    
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
    .feature_area{
      padding-bottom: 0px;
    }
  .single_feature_1{
        margin-top: -60px !important;
      }
  .naviga{
        padding: 0px 10px !important;
      }
  .footer-area{
    padding: 0px 0px;
  }
  .copy_right{
    color: #fff;
    padding-top: 30px;
    font-size: 2vw;
  }
  .five_div{
        margin-bottom: 10px;
        height: 460px; 
        width: 100% !important; 
        background-color: rgb(244,247,252);
      }
      .single_feature_h{
        background-color: rgb(244,247,252);
      }
      .footer{
        padding-top: 75px; 
        text-align: center;
      }
      .f_center{
        background-color: rgb(0,144,206);
      }
    
}